
@grey: #ccc;
@awesome: #afa;
@light-awesome: lighten(@awesome, 5%);
@todo: #faa;
@todo-hard: #f77;

@todo-minor: #fab;
@fine: #afb;

@grad-0: #55f;
@grad-1: lighten(@grad-0, 10%);
@grad-2: lighten(@grad-1, 10%);
@grad-3: lighten(@grad-2, 10%);
@grad-4: lighten(@grad-3, 10%);

.tip {
  pointer-events: none;
}

.tip-inner {
  text-align: left;
  font-size: 14px;
  border-radius: 10px;
}

.tip__name {
  font-weight: bold;
  font-size: 18px;
  margin-right: 5px;
}

.tip__todo {
  color: @todo;
  font-weight: bold;
}

.tip__todo--hard {
  color: @todo-hard;
}
.tip__todo--hard::after {
  content: "hard";
  font-style: italic;
  font-weight: normal;
  color: #faa;
  margin-left: 15px;

}

.tip__sep {
  border-bottom: 1px solid #ddd;
}

.hoverable(@bgcolor) {
  fill: @bgcolor;
  &:hover {
    fill: lighten(@bgcolor, 5%);
  }
}

.fan-box path.node {
  fill: #aaa;
  stroke: white;
  stroke-weight: 2px;
}

.fan-box {
  .not-loaded {
    display: none;
    fill: none;
    stroke: none;
  }

  &.show-age {
    .a-unknown {
      .hoverable(@grey);
    }

    .a-young {
      .hoverable(@grad-0);
    }

    .a-middle {
      .hoverable(@grad-1);
    }

    .a-old {
      .hoverable(@grad-2);
    }

    .a-ancient {
      .hoverable(@grad-3);
    }
  }

  &.show-sources {
    .s-unknown {
      .hoverable(@grey);
    }

    .s-none {
      .hoverable(@todo-hard);
    }
    
    .s-few {
      .hoverable(@todo);
    }

    .s-some {
      .hoverable(@light-awesome);
    }

    .s-many {
      .hoverable(@awesome);
    }
  }

  &.show-completion {
    .c-not-evaluated {
      .hoverable(@grey);
    }

    .c-completed {
      .hoverable(@awesome);
    }

    .c-has-todos {
      .hoverable(@todo);
    }

    .c-just-hard {
      .hoverable(@todo-hard);
    }
  }

  &.show-children {
    .ch-living {
      .hoverable(@grey);
    }

    .ch-very-few {
      .hoverable(@todo);
    }

    .ch-few {
      .hoverable(@todo-minor);
    }

    .ch-several {
      .hoverable(@fine);
    }
  }
}

