
@import "mixins.less";

.tip {
  pointer-events: none;
}

.tip-inner {
  text-align: left;
  font-size: 14px;
  border-radius: 10px;
  white-space: nowrap;
}

.tip__name {
  font-weight: bold;
  font-size: 18px;
  margin-right: 5px;
}

.tip__todo {
  color: @todo;
  font-weight: bold;
}

.tip__not-processed {
  font-weight: bold;
  color: lighten(blue, 30%);
}

.tip__todo--hard {
  color: @todo-hard;
}
.tip__todo--hard::after {
  content: "hard";
  font-style: italic;
  font-weight: normal;
  color: #faa;
  margin-left: 15px;

}

.tip__sep {
  border-bottom: 1px solid #ddd;
}

.hoverable(@bgcolor) {
  fill: @bgcolor;
  background-color: @bgcolor;

  &:hover {
    fill: lighten(@bgcolor, 5%);
  }
}

.fan-key {
  padding: 10px;

  .fan-key__color {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 5px;
    border-radius: 3px;
  }
  .fan-key__label {
    display: inline-block;
    margin-top: -10px;
    vertical-align: middle;
    font-weight: bold;
  }
  .fan-key-item {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
  }
}

.fan__btn {
  margin-right: 10px;
}

.fan-box path.node {
  fill: #aaa;
  stroke: white;
  stroke-weight: 2px;
  cursor: pointer;
}

.fan-box {
  .not-loaded {
    display: none;
    fill: none;
    stroke: none;
  }

  &.show-origin {
    .o-us {
      .hoverable(#6666FF);
    }
    
    .o-gb {
      .hoverable(#FF682D);
    }

    .o-eu {
      .hoverable(#3AFF3A);
    }

    .o-other {
      .hoverable(#FFFF34);
    }

    .o-unknown {
      .hoverable(@grey);
    }
  }

  &.show-modified {
    .m-never {
      .hoverable(@grey);
    }

    .m-long {
      .hoverable(@green-4);
    }
    
    .m-month {
      .hoverable(@green-3);
    }

    .m-week {
      .hoverable(@green-2);
    }
    
    .m-day {
      .hoverable(@green-1);
    }
  }

  &.show-age {
    .a-living {
      .hoverable(#A471FF);
    }

    .a-unknown {
      .hoverable(@grey);
    }

    .a-young {
      .hoverable(#ADF5FF);
    }

    .a-middle {
      .hoverable(#7E7EFF);
    }

    .a-old {
      .hoverable(#0008CC);
    }

    .a-ancient {
      .hoverable(black);
    }
  }

  &.show-sources {
    .s-living {
      .hoverable(#B0B3FD);
    }

    .s-unknown {
      .hoverable(@grey);
    }

    .s-none {
      .hoverable(#FF9696);
    }
    
    .s-few {
      .hoverable(#CC0041);
    }

    .s-some {
      .hoverable(#BB00A5);
    }

    .s-many {
      .hoverable(#31002B);
    }
  }

  &.show-completion {
    .c-not-evaluated {
      .hoverable(@grey);
    }

    .c-completed {
      .hoverable(@awesome);
    }

    .c-has-todos {
      .hoverable(@todo);
    }

    .c-just-cleanup {
      .hoverable(@todo-cleanup);
    }

    .c-just-hard {
      .hoverable(@todo-hard);
    }

    .c-starred {
      .hoverable(@starred);
    }
  }

  &.show-children {
    .ch-living {
      .hoverable(#FFB3B3);
    }

    .ch-3 {
      .hoverable(#FFF625);
    }

    .ch-6 {
      .hoverable(#FFC02C);
    }

    .ch-9 {
      .hoverable(#FF7F00);
    }

    .ch-12 {
      .hoverable(#D65000);
    }

    .ch-lots {
      .hoverable(#8F2300);
    }
  }
}

