
@import "mixins.less";

.history-item {
  .m-box;
}

.history-item__top {
}

.history-item__name {
  .m-person-name;
}

.history-item__lifespan {
  .m-person-lifespan;
}

.history-item__date {
  .m-person-meta;
  font-style: italic;
  margin-left: 10px;
  font-size: 90%;
}

.history-item__relation {
}

.history-item__thing {
  font-weight: bold;
}


