
@import "mixins.less";

.quiet-button {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  margin: 10px 5px 5px;
}

.todo-people__loading {
  padding: 20px 50px;
  font-weight: bold;
}

.todo-people__show-hard {
  .quiet-button;
}

.todo-people__load-more {
  .quiet-button;
}

/** todo list **/

.todo-people {
}

.todo-people__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.todo-person {
  .m-box;
}

.todo-person--no-todos,
.todo-person--hard-todos,
.todo-person--completed {
  border: none;
  font-size: 13px;
  background-color: #f0faff;
}

.todo-person--hard-todos {
  background-color: #ffeaea;
}

.todo-person__s-name {
  font-weight: bold;
}

.todo-person__undo {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}
.todo-person__undo:hover {
  background-color: #ccc;
}


/** Person Top **/

.todo-person__name {
  .m-person-name;
}

.todo-person__place,
.todo-person__lifespan {
  color: #555;
}

.todo-person__lifespan {
  .m-person-lifespan;
  display: inline-block;
}

.todo-person__place {
  font-style: italic;
}

.todo-person__complete {
  float: right;
}

@import "todo-person.less";
