.m-box {
  border: 1px solid #ccc;
  margin: 5px;
  padding: 7px 10px 10px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 10px;
}
.m-person-name {
  font-size: 17px;
  font-weight: bold;
}
.m-person-meta {
  display: inline-block;
  color: #555;
}
.m-person-lifespan {
  font-weight: bold;
  margin: 0 15px;
}
.m-section-title {
  margin-left: 5px;
}
html,
body {
  height: 100%;
  background-repeat: repeat;
  background-size: 10px 10px;
  background-image: linear-gradient(45deg, transparent 0%, transparent 10%, #ffffff 15%, #ffffff 25%, transparent 30%, transparent 60%, #ffffff 65%, #ffffff 75%, transparent 80%);
}
body {
  overflow-x: hidden;
}
.header {
  padding: 10px 15px;
}
.header__name {
  font-weight: bold;
  margin: 0 10px;
}
.header__loading {
  margin-left: 10px;
}
.person-page__vitals {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
}
/** searcher **/
.searcher {
  margin: 0 50px 0 10px;
}
.searcher__title {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.searcher__title:hover {
  background-color: #e0efff;
}
.searcher__iframe {
  width: 100%;
  border: 0;
  height: 0px;
  opacity: 0;
  display: block;
  transition: height .5s ease, opacity .5s ease;
}
.searcher--open .searcher__iframe {
  box-shadow: 0 0 5px black;
  opacity: 1;
  height: 700px;
}
/** login page **/
.login-page {
  display: flex;
  height: 100%;
}
.login-page__left,
.login-page__right {
  flex: 1;
}
.login-page__middle {
  padding: 50px 10px;
}
.login-page__iframe {
  width: 320px;
  height: 750px;
  border: none;
  border-radius: 10px;
}
#main {
  height: auto;
  max-width: 1800px;
  margin: 0 auto;
  padding: 10px;
}
.history-box__title {
  margin-left: 5px;
}
.star-box__title {
  margin-left: 5px;
}
.todo-people__title {
  margin-left: 5px;
}
@media (min-width: 400px) and (max-width: 1500px - 1) {
  .overview__lists {
    display: flex;
  }
}
@media (min-width: 1020px) {
  .overview {
    display: flex;
  }
  .overview__todo {
    width: 450px;
  }
  .overview__others {
    flex: 1;
  }
}
@media (min-width: 1500px) {
  .overview__others {
    display: flex;
  }
  .overview__lists {
    width: 450px;
  }
  .fan-box {
    flex: 1;
  }
}
/** drop list **/
.droplist {
  display: inline-block;
  margin-left: 10px;
}
.droplist__head {
  cursor: pointer;
}
.droplist__head:after {
  content: '\e114';
  margin-left: 0;
  cursor: pointer;
  font-family: 'Glyphicons Halflings';
}
.droplist__list {
  z-index: 100;
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: white;
  border-radius: 10px;
  border-top-left-radius: 0;
}
.droplist--open .droplist__list {
  display: block;
  position: absolute;
}
.droplist:focus {
  outline: none;
}
.droplist__item {
  padding: 0px 5px;
  margin-bottom: 5px;
}
.droplist__item:first-child {
  border-top-right-radius: 10px;
}
.droplist__item:first-child {
  border-top-right-radius: 10px;
}
.droplist__link {
  padding: 5px 10px;
  background-color: #07d;
  color: white;
  box-shadow: 3px 3px 10px #cceeff inset, -3px -3px 10px #5599cc inset;
  border-radius: 10px;
  width: 100%;
  display: inline-block;
  text-align: center;
}
.droplist__link:hover {
  color: white;
  background-color: #5af;
  text-decoration: none;
}
.tip {
  pointer-events: none;
}
.tip-inner {
  text-align: left;
  font-size: 14px;
  border-radius: 10px;
  white-space: nowrap;
}
.tip__name {
  font-weight: bold;
  font-size: 18px;
  margin-right: 5px;
}
.tip__todo {
  color: #ffff00;
  font-weight: bold;
}
.tip__not-processed {
  font-weight: bold;
  color: #9999ff;
}
.tip__todo--hard {
  color: #ff4444;
}
.tip__todo--hard::after {
  content: "hard";
  font-style: italic;
  font-weight: normal;
  color: #faa;
  margin-left: 15px;
}
.tip__sep {
  border-bottom: 1px solid #ddd;
}
.fan-key {
  padding: 10px;
}
.fan-key .fan-key__color {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 5px;
  border-radius: 3px;
}
.fan-key .fan-key__label {
  display: inline-block;
  margin-top: -10px;
  vertical-align: middle;
  font-weight: bold;
}
.fan-key .fan-key-item {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
.fan-box path.node {
  fill: #aaa;
  stroke: white;
  stroke-weight: 2px;
  cursor: pointer;
}
.fan-box .not-loaded {
  display: none;
  fill: none;
  stroke: none;
}
.fan-box.show-origin .o-us {
  fill: #6666ff;
  background-color: #6666ff;
}
.fan-box.show-origin .o-us:hover {
  fill: #8080ff;
}
.fan-box.show-origin .o-gb {
  fill: #ff682d;
  background-color: #ff682d;
}
.fan-box.show-origin .o-gb:hover {
  fill: #ff7a47;
}
.fan-box.show-origin .o-eu {
  fill: #3aff3a;
  background-color: #3aff3a;
}
.fan-box.show-origin .o-eu:hover {
  fill: #54ff54;
}
.fan-box.show-origin .o-other {
  fill: #ffff34;
  background-color: #ffff34;
}
.fan-box.show-origin .o-other:hover {
  fill: #ffff4e;
}
.fan-box.show-origin .o-unknown {
  fill: #cccccc;
  background-color: #cccccc;
}
.fan-box.show-origin .o-unknown:hover {
  fill: #d9d9d9;
}
.fan-box.show-modified .m-never {
  fill: #cccccc;
  background-color: #cccccc;
}
.fan-box.show-modified .m-never:hover {
  fill: #d9d9d9;
}
.fan-box.show-modified .m-long {
  fill: #b6ffb3;
  background-color: #b6ffb3;
}
.fan-box.show-modified .m-long:hover {
  fill: #ceffcd;
}
.fan-box.show-modified .m-month {
  fill: #54ff4d;
  background-color: #54ff4d;
}
.fan-box.show-modified .m-month:hover {
  fill: #6cff67;
}
.fan-box.show-modified .m-week {
  fill: #09e600;
  background-color: #09e600;
}
.fan-box.show-modified .m-week:hover {
  fill: #0aff00;
}
.fan-box.show-modified .m-day {
  fill: #058000;
  background-color: #058000;
}
.fan-box.show-modified .m-day:hover {
  fill: #069a00;
}
.fan-box.show-age .a-living {
  fill: #3333ff;
  background-color: #3333ff;
}
.fan-box.show-age .a-living:hover {
  fill: #4d4dff;
}
.fan-box.show-age .a-unknown {
  fill: #cccccc;
  background-color: #cccccc;
}
.fan-box.show-age .a-unknown:hover {
  fill: #d9d9d9;
}
.fan-box.show-age .a-young {
  fill: #0000ff;
  background-color: #0000ff;
}
.fan-box.show-age .a-young:hover {
  fill: #1a1aff;
}
.fan-box.show-age .a-middle {
  fill: #000099;
  background-color: #000099;
}
.fan-box.show-age .a-middle:hover {
  fill: #0000b3;
}
.fan-box.show-age .a-old {
  fill: #000033;
  background-color: #000033;
}
.fan-box.show-age .a-old:hover {
  fill: #00004c;
}
.fan-box.show-age .a-ancient {
  fill: #000000;
  background-color: #000000;
}
.fan-box.show-age .a-ancient:hover {
  fill: #0d0d0d;
}
.fan-box.show-sources .s-living {
  fill: #ff99f3;
  background-color: #ff99f3;
}
.fan-box.show-sources .s-living:hover {
  fill: #ffb3f6;
}
.fan-box.show-sources .s-unknown {
  fill: #cccccc;
  background-color: #cccccc;
}
.fan-box.show-sources .s-unknown:hover {
  fill: #d9d9d9;
}
.fan-box.show-sources .s-none {
  fill: #ff00e1;
  background-color: #ff00e1;
}
.fan-box.show-sources .s-none:hover {
  fill: #ff1ae4;
}
.fan-box.show-sources .s-few {
  fill: #cc00b4;
  background-color: #cc00b4;
}
.fan-box.show-sources .s-few:hover {
  fill: #e600cb;
}
.fan-box.show-sources .s-some {
  fill: #990087;
  background-color: #990087;
}
.fan-box.show-sources .s-some:hover {
  fill: #b3009e;
}
.fan-box.show-sources .s-many {
  fill: #66005a;
  background-color: #66005a;
}
.fan-box.show-sources .s-many:hover {
  fill: #800071;
}
.fan-box.show-completion .c-not-evaluated {
  fill: #cccccc;
  background-color: #cccccc;
}
.fan-box.show-completion .c-not-evaluated:hover {
  fill: #d9d9d9;
}
.fan-box.show-completion .c-completed {
  fill: #00ff00;
  background-color: #00ff00;
}
.fan-box.show-completion .c-completed:hover {
  fill: #1aff1a;
}
.fan-box.show-completion .c-has-todos {
  fill: #ffff00;
  background-color: #ffff00;
}
.fan-box.show-completion .c-has-todos:hover {
  fill: #ffff1a;
}
.fan-box.show-completion .c-just-cleanup {
  fill: #e7ac30;
  background-color: #e7ac30;
}
.fan-box.show-completion .c-just-cleanup:hover {
  fill: #eab547;
}
.fan-box.show-completion .c-just-hard {
  fill: #ff4444;
  background-color: #ff4444;
}
.fan-box.show-completion .c-just-hard:hover {
  fill: #ff5e5e;
}
.fan-box.show-completion .c-starred {
  fill: #00e0ff;
  background-color: #00e0ff;
}
.fan-box.show-completion .c-starred:hover {
  fill: #1ae3ff;
}
.fan-box.show-children .ch-living {
  fill: #ffd166;
  background-color: #ffd166;
}
.fan-box.show-children .ch-living:hover {
  fill: #ffd980;
}
.fan-box.show-children .ch-3 {
  fill: #ffe500;
  background-color: #ffe500;
}
.fan-box.show-children .ch-3:hover {
  fill: #ffe81a;
}
.fan-box.show-children .ch-6 {
  fill: #ffb300;
  background-color: #ffb300;
}
.fan-box.show-children .ch-6:hover {
  fill: #ffbb1a;
}
.fan-box.show-children .ch-9 {
  fill: #ff7f00;
  background-color: #ff7f00;
}
.fan-box.show-children .ch-9:hover {
  fill: #ff8c1a;
}
.fan-box.show-children .ch-12 {
  fill: #ff5f00;
  background-color: #ff5f00;
}
.fan-box.show-children .ch-12:hover {
  fill: #ff6f1a;
}
.fan-box.show-children .ch-lots {
  fill: #ff3f00;
  background-color: #ff3f00;
}
.fan-box.show-children .ch-lots:hover {
  fill: #ff521a;
}
.quiet-button {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  margin: 10px 5px 5px;
}
.todo-people__loading {
  padding: 20px 50px;
  font-weight: bold;
}
.todo-people__show-hard {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  margin: 10px 5px 5px;
}
.todo-people__load-more {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  margin: 10px 5px 5px;
}
/** todo list **/
.todo-people__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.todo-person {
  border: 1px solid #ccc;
  margin: 5px;
  padding: 7px 10px 10px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 10px;
}
.todo-person--no-todos,
.todo-person--hard-todos,
.todo-person--completed {
  border: none;
  font-size: 13px;
  background-color: #f0faff;
}
.todo-person--hard-todos {
  background-color: #ffeaea;
}
.todo-person__s-name {
  font-weight: bold;
}
.todo-person__undo {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}
.todo-person__undo:hover {
  background-color: #ccc;
}
/** Person Top **/
.todo-person__name {
  font-size: 17px;
  font-weight: bold;
}
.todo-person__place,
.todo-person__lifespan {
  display: inline-block;
  color: #555;
}
.todo-person__lifespan {
  font-weight: bold;
  margin: 0 15px;
}
.todo-person__place {
  font-style: italic;
}
.todo-person__complete {
  float: right;
}
/** Person Todos **/
.todo-person__todos {
  list-style: none;
  padding: 0;
  margin: 0;
}
.todo-person__todo {
  margin: 0;
  padding: 0;
}
.todo-person__complete {
  visibility: hidden;
  border: none;
  background-color: white;
  text-transform: lowercase;
  color: #555;
}
.todo-person:hover .todo-person__complete {
  visibility: visible;
}
.todo-person__complete:hover {
  background-color: #96EE74;
  border-radius: 5px;
  color: #004709;
}
/** Person Note **/
.note {
  color: #555;
  position: relative;
}
.note__button {
  position: absolute;
  right: 0;
  bottom: 5px;
  opacity: .5;
  background-color: white;
  border: 1px solid #666;
}
.note__button::before {
  content: "\f040";
  font-family: 'FontAwesome';
}
.note--open .note__button {
  opacity: 1;
}
.note--open .note__button::before {
  content: "Save";
}
.note:hover .note__button {
  opacity: 1;
}
.note__empty,
.note__static {
  cursor: pointer;
  padding: 7px 15px;
  display: block;
}
.note__empty {
  font-style: italic;
  margin-right: 20px;
}
.note__input {
  width: 100%;
  height: 100px;
  padding: 6px 14px;
}
/** Individual Todo Item **/
.check-box {
  cursor: pointer;
  padding-right: 10px;
}
.check-box:hover {
  color: #ffd600;
  font-weight: bold;
}
.todo {
  padding: 5px 5px 5px 10px;
  margin: 0;
  border-radius: 5px;
  position: relative;
  margin-top: 5px;
  border: 1px solid #ccc;
}
.todo::after {
  display: table;
  content: "";
  clear: both;
}
.todo--collapsed {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
.todo--collapsed:hover {
  border-color: #ccc;
}
/** links **/
.todo__links {
  list-style: none;
  padding: 0;
  margin: 5px 0 0;
}
.todo__link {
  padding: 3px 0;
  border-radius: 10px;
}
.todo__link:hover {
  text-decoration: none;
}
.todo__link i {
  margin-right: 10px;
}
.todo__help-button {
  display: block;
}
.todo__help-button i {
  margin-right: 10px;
}
.todo__note.note--empty {
  float: right;
}
.todo__note.note--empty.note--open {
  float: none;
}
.todo__explanation {
  display: block;
  padding: 10px;
  color: #555;
}
.todo__hard {
  float: right;
  border: 0;
  background-color: transparent;
  text-transform: lowercase;
  border-radius: 5px;
  color: #777;
}
.todo__hard:hover {
  color: #a55;
  background-color: #ffe0e0;
}
.todo--hard .todo__hard {
  visibility: visible;
}
.todo__hard:focus {
  outline: none;
}
.todo__title {
  cursor: pointer;
}
.todo--hard .todo__title {
  color: #a55;
}
.todo--hard .todo__hard {
  color: #a55;
  background-color: #ffe0e0;
}
.todo--hard-completed,
.todo--completed {
  background-color: white;
}
.todo--completed .todo__title {
  color: #aaa;
  font-style: italic;
}
.todo--hard-completed .todo__title {
  color: #faa;
  font-style: italic;
}
.star {
  margin-right: 10px;
  color: #00e0ff;
}
.history-item {
  border: 1px solid #ccc;
  margin: 5px;
  padding: 7px 10px 10px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 10px;
}
.history-item__name {
  font-size: 17px;
  font-weight: bold;
}
.history-item__lifespan {
  font-weight: bold;
  margin: 0 15px;
}
.history-item__date {
  display: inline-block;
  color: #555;
  font-style: italic;
  margin-left: 10px;
  font-size: 90%;
}
.history-item__thing {
  font-weight: bold;
}
.lineage {
  list-style: none;
  padding: 0;
  text-align: center;
}
.lineage__person a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 20px;
}
.lineage__person a:hover {
  background-color: #ddd;
}
.lineage__person__name {
  font-weight: bold;
  font-size: 20px;
}
.lineage__person__lifespan {
  font-style: italic;
  margin-left: 10px;
  color: #999;
}
.lineage__person__place {
  font-style: italic;
  display: block;
  color: #999;
}
.lineage__person__relation {
  font-size: 17px;
}
